{% extends 'base.html.twig' %}

{% block body %}
    <h3>1. Zakłady spólki POLREGIO</h3>
    <ul>
        {% for institution in institutions %}
            <li>
                {{ institution.name }}
            </li>
        {% endfor %}
    </ul>
{% endblock %}